.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    background-color: white;
    padding-top: 5px;
}

.sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: #cfcfcf;
}

.sidebar-link img {
    height: 25px;
    margin-bottom: 4px;
}

.sidebar-text {
    font-size: 10px;

}
